*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


input,
textarea {
  font-family: lucida sans, sans, verdana;
  resize: none;
  padding-left:0;
  padding-right:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: lucida sans, sans, verdana;
  background-color: white;
}

#root {
    font-family: lucida sans, sans, verdana;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 650px;
    text-align: left;
    background-repeat: no-repeat;
    background-image: url(images/bakgrund5.png);
}

#header{
  height: 150px;
}

#header_top{
  height: 75px;
}

#header_bottom{
    color: #fb2a2a;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    text-align: center;
}

#container {
    width: 300px;
    margin: auto;
}

#left {
    text-align: left;
    font-size: 14px;
    float: left;
    width: 140px;
    margin-right: 4px;
    margin-left: 3px;
    background-color: white;
}

#center {
  float: left;
  width: 599px;
  text-align: left;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 4px;
  font-size: 14px;
}

#right {
    text-align: left;
    font-size: 14px;
    float: left;
    width: 140px;
    margin-right: 4px;
    margin-left: 10px;
}

.signin {
    width: 140px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: white;
}

.signin input {
    width: 95%;
    margin-left: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.signin button {
    width: 95%;
    margin-left: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.calendar {
    padding-left: 5px;
    width: 135px;
    margin-left: 1px;
    background-color: white;
}

.menu
{
  text-align: left;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 4px;
  font-size: 14px;
  padding-left: 5px;
  width: 136px;
  margin-left: 1px;
  font-weight: bold;
  font-size: 14px;
}

.menuItem
{
  display: block;
}

.menuItem a {
  text-decoration: none;
}

.menuItem a:hover
{
  text-decoration: underline;
}

.editor{
    text-align: center;
}
.editor textarea
{
  width: 250px;
  height: 250px;
}

.errorMessage{
    text-align: center;
}

.comment{
    padding: 2px;
    box-sizing: content-box;
    display: block;
    width: 500px;
     margin: 0 auto;
    font-size: 12px;
}

.innerComment{
    padding: 7px;
    background-color: WhiteSmoke;
}

.comment .singature{
    text-align: right;
    display: block;
}

.comment input{
    width: 100%;
}

.posteditor{
  width: 98%;
  margin: 0 auto;
}

.posteditor .inputContainer{
  padding: 1px;
}

.posteditor textarea{
  width: 100%;
  height: 100px;
}

.posteditor .text{
  width: 100%;
}

.posteditor .location{
  width: 25%;
}

.posteditor .titleEditor{
  font-size: 24px;
}

.posteditor .singature{
  text-align: right;
  display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d9d9d9;
}
:focus::-moz-placeholder:focus { /* Firefox 19+ */
  color: #d9d9d9;
}
:focus:-ms-input-placeholder:focus { /* IE 10+ */
  color: #d9d9d9;
}
:focus:-moz-placeholder:focus { /* Firefox 18- */
  color: #d9d9d9;
}


/*
.blogPosts
{
  float: left;
  width: 50%;
  text-align: left;
  background-color: white;
  margin-bottom: 4px;
  margin-top: 4px;
  padding-left: 4px;
  font-size: 14px;
} */

.bold{
    font-weight: bold;
}

.roundCorners{
  border-radius: 7px;
}

.red{
    color: red;
}

.title{
    color: red;
    font-size: 24px;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}