{
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-decorators",
         ["transform-rename-import", { "original": "^(.+?)\\.css$", "replacement": "$1.scss" }]]
}