@import "./../../Theme.scss";

.AddressBook {
  .AddressList {
    display: flex;
    justify-content: center;
    table {
      border-collapse: collapse;
      width: 90%;
    }

    table,
    th,
    td {
      padding: 5px;
    }

    .phone span {
      display: block;
    }

    .address span {
      display: block;
    }

    th {
      height: 50px;
    }

    tr:nth-child(even) {
      background-color: $grey;// #f2f2f2;
    }
  }
}
