.PasswordEditor {
  padding: 10px;
  width: 100%; }
  .PasswordEditor td {
    width: 50%; }
  .PasswordEditor .save-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; }
  .PasswordEditor .message {
    min-width: 300px; }
  .PasswordEditor .save {
    margin-right: 10%;
    float: right;
    display: block; }
