.PasswordEditor {
  padding: 10px;
  width: 100%;
  td {
    width: 50%;
  }
  .save-row
  {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .message
  {
    min-width: 300px;
  }
  .save {
    margin-right: 10%;
    float: right;
    display: block;
  }
}
