@import "./../../Theme.scss";

.login {
    width: 140px;
    min-height: 98px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: white;
  }
  
  .login .error
  {
    font-size: 11px;
    margin-bottom: 20px;
    font-style: normal;
    color: $red;
    padding: 4px;
  }
  
  .login .spinner {
    position: relative;
    top: 25px;
  }
  
  .login input {
    width: 95%;
    margin-left: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
  }
  
  .login button {
    width: 95%;
    margin-left: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
  }